.fontSize{
    font-size: 2rem;
}
.pink {
    background-image: linear-gradient(to right, #ec6a00, #dd4620);
    color: white;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    height: 6rem;
}

.social {
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.inputs {
    height: 6rem;
}

.all{
    display: flex;
    flex-direction: column;
}

.logo{
    height: 60vmin;
    align-content: center;
    justify-content: center;
}

.lessMg{
    margin-top: -4rem;
}

.pass{
    color: #dd4620;
    font-size: 2rem; 
    text-align: right;
    padding: 3rem;
}

/*xs={8} xsOffset={2} sm={8} smOffset={4} md={8} mdOffset={5}*/